@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient-dark {
  background-color: #3f225d;
  background-image: radial-gradient(circle, #3f225d 0%, #000000 74%);
}

.bg-custom-gradient-light {
  background-color: #ffffff;
  background-image: radial-gradient(circle, #cdf4d1 0%, #ffffff 84%);
}

.dark {
  @apply bg-custom-gradient-dark;
}

.light {
  @apply bg-custom-gradient-light;
}
